TaxService.Tests/obj/Debug/
TaxService/obj/Debug/
TaxService.Tests/bin/Debug/
.vs/
TaxService/bin/TaxService.pdb
TaxService/bin/TaxService.dll
TaxJarTaxCalculator/obj/Debug/
TaxJarTaxCalculator/bin/Debug/
TaxService/bin/TaxJarTaxCalculator.pdb
TaxService/bin/TaxJarTaxCalculator.dll
